@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@700&display=swap');

body {
  margin: 0;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  color: white;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.25em;
  color: white;
}

p a {
  color: white;
}

.background {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0,.9), rgba(0,0,0,.5)), url('ivan-aleksic-PDRFeeDniCk-unsplash.jpg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.text-area {
  max-width: 670px;
  padding: 1.5em;
}

.logo {
  position: absolute;
  bottom: .5em;
  right: 1em;
  width: 8em;
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2.5em;
  }
  p {
    font-size: 1.15em;
  }
  .text-area {
    margin-top: -5em;
  }
  .logo {
    width: 8em;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
  .text-area {
    margin-top: -4em;
  }
  .logo {
    width: 6em;
  }
}
